@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		background-clip: padding-box;
	}
	:root {
		color-scheme: light dark;
		accent-color: var(--accentFill);
		color: var(--foreground);
		fill: var(--foreground);
	}
	body {
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		font-family: 'Segoe UI Variable', 'Segoe UI', system-ui, sans-serif;
		font-optical-sizing: auto;
		@apply text-body;
	}
	pre {
		@apply card p-2 leading-snug;
	}
	:not(pre) > code {
		@apply card px-1 py-0.5;
	}
	a {
		color: var(--accentText);
	}
	a:hover {
		text-decoration: underline;
	}
	h1 {
		font-family: 'Segoe UI Variable Display', 'Segoe UI Variable', 'Segoe UI', system-ui, sans-serif;
		font-variation-settings: 'opsz' 36;
		@apply text-h1;
	}
	h2 {
		font-variation-settings: 'opsz' 32;
		@apply text-h2;
	}
	h3 {
		font-variation-settings: 'opsz' 28;
		@apply text-h3;
	}
	h4 {
		font-variation-settings: 'opsz' 24;
		@apply text-h4;
	}
	h5 {
		font-variation-settings: 'opsz' 20;
		@apply text-h5;
	}
	h6 {
		font-variation-settings: 'opsz' 16;
		@apply text-h6;
	}
	input[type='text'],
	input[type='url'],
	textarea {
		background-color: var(--controlFill);
		border-width: 1px;
		border-color: var(--controlStroke);
		outline: none;
		@apply rounded-control p-1 px-2;
	}
	:is(input[type='text'], input[type='url'], textarea):focus {
		box-shadow: 0px 2px 0px -0.5px var(--accentFill);
	}
	:is(input[type='text'], input[type='url'], textarea)::placeholder {
		color: var(--textSecondary);
	}
	button,
	input[type='submit'] {
		background-color: var(--controlFill);
		border-width: 1px;
		border-color: var(--controlStroke);
		@apply rounded-control p-1 px-2;
	}
	hr {
		border-color: var(--dividerStroke);
		border-width: 1px;
	}
	/* * {
		outline: 1px solid red;
	} */
}

@layer components {
	.content {
		line-height: 1.85rem;
	}
	.content > :is(h1, h2, h3, h4, h5, h6) {
		margin-bottom: 0.6rem;
	}
	.content > :not(h1, h2, h3, h4, h5, h6) {
		margin-bottom: 1.6rem;
	}
	.content > :has(+ hr) {
		margin-bottom: 1rem;
	}
	.content > hr {
		margin-bottom: 1rem;
	}
	.content > :has(+ ul, ol) {
		margin-bottom: 0.5rem;
	}
	.content > ul {
		list-style: disc outside;
		margin-left: 1rem;
	}
	.content img {
		margin: 0;
		max-height: 32rem;
		width: auto;
	}

	.content figcaption {
		font-style: italic;
		text-align: center;
	}

	.content blockquote {
		padding-left: 1rem;
		border-left: 2px var(--dividerStroke) solid;
	}

	.content > :has(> :is(img, figure)) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 16px;
	}

	.nav-selected::after {
		display: block;
		content: '';
		width: 16px;
		height: 4px;
		background: var(--accentFill);
		border-radius: 9999px;
	}
	.nav-selected-vertical {
		margin-left: -12px;
	}
	.nav-selected-vertical::before {
		display: block;
		content: '';
		width: 4px;
		height: 1.2rem;
		margin-right: 8px;
		background: var(--accentFill);
		border-radius: 9999px;
	}
	.card {
		@apply rounded-control border border-card-stroke bg-card-fill;
	}
}

@layer utilities {
	.content > :is(ul, ol).nolist {
		list-style: none;
		margin-left: 0;
	}

	main:has(> .notopmargin) {
		@apply mt-0;
	}
}
