@import 'tailwindcss';

@theme {
	--radius-control: 4px;
	--radius-surface: 8px;

	--color-background: var(--background);
	--color-text: var(--foreground);
	--color-secondary: var(--textSecondary);
	--color-accent-fill: var(--accentFill);
	--color-accent-text: var(--accentText);
	--color-card-fill: var(--cardFill);
	--color-card-stroke: var(--cardStroke);
	--color-divider-stroke: var(--dividerStroke);
	--color-control-fill: var(--controlFill);
	--color-control-stroke: var(--controlStroke);

	--text-caption: 0.85rem, 1rem;
	--text-body: 1rem, 1.62rem;
	--text-h6: 1.15rem;
	--text-h6--line-height: 1.75rem;
	--text-h6--font-weight: 600;
	--text-h5: 1.35rem;
	--text-h5--line-height: 1.5rem;
	--text-h5--font-weight: 600;
	--text-h4: 1.5rem;
	--text-h4--line-height: 2rem;
	--text-h4--font-weight: 600;
	--text-h3: 1.6rem;
	--text-h3--line-height: 2.3rem;
	--text-h3--font-weight: 600;
	--text-h2: 2rem;
	--text-h2--line-height: 3.2rem;
	--text-h2--font-weight: 600;
	--text-h1: 2.4rem;
	--text-h1--line-height: 3.5rem;
	--text-h1--font-weight: 600;
}

@utility card {
  background-color: var(--color-card-fill);
  border-radius: var(--radius-control);
  border: 1px solid var(--color-card-stroke);
}

@layer components {
	.content {
		line-height: 1.85rem;
		& > :is(h1, h2, h3, h4, h5, h6) {
			margin-bottom: 0.6rem;
		}
		& > :not(h1, h2, h3, h4, h5, h6) {
			margin-bottom: 1.6rem;
		}
		& > :has(+ hr) {
			margin-bottom: 1rem;
		}
		& > hr {
			margin-bottom: 1rem;
		}
		& > :has(+ ul, ol) {
			margin-bottom: 0.5rem;
		}
		& > ul {
			list-style: disc outside;
			margin-left: 1rem;
		}
		& > ol {
			list-style: decimal outside;
			margin-left: 1rem;
		}
		& img {
			margin: 0;
			max-height: 32rem;
			width: auto;
		}

		& figcaption {
			font-style: italic;
			text-align: center;
		}

		& blockquote {
			padding-left: 1rem;
			border-left: 2px var(--dividerStroke) solid;
		}

		& > :has(> :is(img, figure)) {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 16px;
		}
		& > :is(ul, ol).nolist {
			list-style: none;
			margin-left: 0;
		}
	}
}

@utility nolist {
	.content > &:is(ul, ol) {
		list-style: none;
		margin-left: 0;
	}
}

@utility notopmargin {
	main:has(> &) {
		margin-top: 0;
	}
}

@layer base {
	* {
		background-clip: padding-box;
	}
	:root {
		color-scheme: light dark;
		accent-color: var(--accentFill);
		color: var(--foreground);
		fill: var(--foreground);
	}
	body {
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		font-family: 'Segoe UI Variable', 'Segoe UI', system-ui, sans-serif;
		font-optical-sizing: auto;
		@apply text-body;
	}
	pre {
		@apply card p-2 leading-snug;
	}
	:not(pre) > code {
		@apply card px-1 py-0.5;
	}
	a {
		color: var(--accentText);
	}
	a:hover {
		text-decoration: underline;
	}
	h1 {
		font-family: 'Segoe UI Variable Display', 'Segoe UI Variable', 'Segoe UI', system-ui, sans-serif;
		font-variation-settings: 'opsz' 36;
		@apply text-h1;
	}
	h2 {
		font-variation-settings: 'opsz' 32;
		@apply text-h2;
	}
	h3 {
		font-variation-settings: 'opsz' 28;
		@apply text-h3;
	}
	h4 {
		font-variation-settings: 'opsz' 24;
		@apply text-h4;
	}
	h5 {
		font-variation-settings: 'opsz' 20;
		@apply text-h5;
	}
	h6 {
		font-variation-settings: 'opsz' 16;
		@apply text-h6;
	}
	input[type='text'],
	input[type='url'],
	textarea {
		background-color: var(--controlFill);
		border-width: 1px;
		border-color: var(--controlStroke);
		outline: none;
		@apply rounded-control p-1 px-2;
	}
	:is(input[type='text'], input[type='url'], textarea):focus {
		box-shadow: 0px 2px 0px -0.5px var(--accentFill);
	}
	:is(input[type='text'], input[type='url'], textarea)::placeholder {
		color: var(--textSecondary);
	}
	button,
	input[type='submit'] {
		background-color: var(--controlFill);
		border-width: 1px;
		border-color: var(--controlStroke);
		@apply rounded-control p-1 px-2;
	}
	hr {
		border-color: var(--dividerStroke);
		border-width: 1px;
	}
	/* * {
		outline: 1px solid red;
	} */
}
