:root {
	--foreground: #333333;
	--background: #f3f3f3;
	--textSecondary: #0000009e;
	--accentFill: #003d92;
	--accentText: #004db9;
	--cardFill: #ffffffb3;
	--cardStroke: #0000000f;
	--dividerStroke: #0000001d;
	--controlFill: #ffffffb3;
	--controlStroke: #0000000f;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground: #dddddd;
		--background: #1c1c1c;
		--textSecondary: #ffffffc5;
		--accentFill: #60ccfe;
		--accentText: #98ecfe;
		--cardFill: #ffffff0d;
		--cardStroke: #00000019;
		--dividerStroke: #ffffff15;
		--controlFill: #ffffff0f;
		--controlStroke: #ffffff12;
	}
}
