---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout title="Guestbook">
    <h1 class="mb-3">Guestbook</h1>
    <!-- <form class="p-3 flex flex-col items-start card">
        <input type="text" placeholder="Name" />
        <input type="url" placeholder="Link to web/social media presence" />
        <textarea placeholder="Your message"></textarea>
        <input type="submit" />
    </form> -->
    Coming soon!
</BaseLayout>