---
import BaseLayout from '@/layouts/BaseLayout.astro';

import GitHubIcon from '@/components/icons/GitHubIcon.astro';
import DiscordIcon from '@/components/icons/DiscordIcon.astro';
import MailIcon from '@/components/icons/MailIcon.astro';
import { renderPost } from '@/lib/markdown';
import { getCollection } from 'astro:content';

const content = (await getCollection('blog'))[0].body!
const rendered = renderPost(content, Astro.url, 'blog', 'asdf')
---

<BaseLayout
	embedTitle="Home"
	description="Hey, I'm heftymouse. I am a student and hobbyist software developer."
>
	<div class="notopmargin mx-auto flex h-full max-w-[24rem] flex-col justify-center">
		<span class="-ml-2 mb-1 select-none text-h1">👋</span>
		<h1 class="mb-3 leading-tight">Hey, I'm heftymouse</h1>
		<div set:html={rendered}></div>
		<div class="mb-5">
			<p class="mb-3">I am a student and hobbyist software developer.</p>
			<p class="mb-3">
				I like to make apps designed for the modern Windows ecosystem. Other interests of mine
				include web dev, Discord bots, and anything else that may catch my interest.
			</p>
			<p class="mb-2">
				I live in Bengaluru, India, and am currently pursuing a bachelor's degree in Computer
				Science.
			</p>
			<a href="/about">Read more →</a>
		</div>
		<address class="flex select-none flex-row items-center gap-4">
			<a href="https://github.com/heftymouse">
				<GitHubIcon class="mb-[1px] h-[1.6rem] text-text" />
			</a>
			<div id="discord" class="flex flex-row items-center gap-1">
				<DiscordIcon class="peer/discord h-5" />
				<span
					id="discordText"
					class="card hidden select-text p-1 leading-none peer-hover/discord:block">heftymouse</span
				>
			</div>
			<a href="mailto:hello@heftymouse.me">
				<MailIcon class="h-5 text-text" />
			</a>

			<script type="module">
				let discord = document.querySelector('#discord');
				let discordText = document.querySelector('#discordText');
				discord.addEventListener('click', async () => {
					await navigator.clipboard.writeText('heftymouse');
					discordText.innerHTML = 'Copied!';
				});

				discord.addEventListener('mouseleave', () => {
					discordText.innerHTML = 'heftymouse';
				});
			</script>
		</address>
	</div>
</BaseLayout>
