---
import NavItem from './NavItem.astro';
type Routes = 'Home' | 'About' | 'Projects' | 'Guestbook' | 'Blog';

interface Props {
	hidden?: boolean;
}

const links: Record<Routes, string> = {
	Home: '/',
	About: '/about',
	Projects: '/projects',
	Blog: '/blog',
	Guestbook: '/guestbook'
	// "Other": "/other"
};

const { hidden } = Astro.props;
---

<nav>
	<ul class={`flex flex-row`}>
		{
			Object.entries(links).map((e, i) => (
				<NavItem
					name={e[0]}
					href={e[1]}
					selected={e[1].substring(1) == Astro.url.pathname.split('/')[1]}
				/>
			))
		}
	</ul>
</nav>
