---
import { links } from '../lib/nav';

interface Props {
	class?: string;
}

const { class: classes } = Astro.props;
---

<nav class="hidden sm:block">
	<ul class="flex flex-row">
		{
			Object.entries(links).map((e, i) => (
				<li
					class="flex flex-col items-center"
					class:list={[{ 'nav-selected': e[1].substring(1) === Astro.url.pathname.split('/')[1] }]}
				>
					<a href={e[1]} class="m-3 mb-2 text-text hover:no-underline">
						{e[0]}
					</a>
				</li>
			))
		}
	</ul>
</nav>
