---
interface Props {
	name: string;
	href: string;
	selected?: boolean;
}

const { name, href, selected } = Astro.props;
---

<li class="flex flex-col items-center" class:list={[{ 'nav-selected': selected }]}>
	<a href={href} class="m-3 mb-2 text-text hover:no-underline">
		{name}
	</a>
</li>
