---
import '../styles/styles.css';
import '../styles/variables.css';
import NavBar from '../components/NavBar.astro';

interface Props {
	centerContent?: boolean;
	title?: string;
}

const { centerContent, title } = ((Astro.props as any)['frontmatter'] as Props) || Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{`${title ? `${title} - ` : ''}heftymouse`}</title>
		<slot name="head" />
	</head>
	<body
		class="grid min-h-[100vh] grid-rows-[3.5rem_1fr] justify-items-center gap-4 bg-background p-4 supports-[height:_1dvh]:min-h-[100dvh] sm:p-8"
	>
		<a class="absolute -left-52 top-0 m-3 focus:left-0 print:hidden" href="#main">
			Skip to content
		</a>
		<header>
			<NavBar hidden={true} />
		</header>
		<main
			id="main"
			class="max-w-[min(100%,80ch)]"
			style=`align-self: ${centerContent ? 'center' : 'normal'}`
		>
			<slot />
		</main>
	</body>
</html>
