---
import '../styles/styles.css';
import '../styles/variables.css';
import NavBar from '@/components/NavBar.astro';
import CompactNavBar from '@/components/CompactNavBar.astro';

interface Props {
	title?: string;
	embedTitle?: string;
	description?: string;
}

const { title, embedTitle, description } =
	((Astro.props as any)['frontmatter'] as Props) || Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{`${title ? `${title} - ` : ''}heftymouse`}</title>
		<link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)} />
		<meta name="description" content={description ?? "heftymouse's home on the internet."} />
		<meta name="og:title" content={embedTitle ?? title ?? 'heftymouse'} />
		<meta name="og:url" content={Astro.url} />
		<meta name="og:description" content={description} />
		<meta name="og:site_name" content="heftymouse" />
		<meta name="theme-color" content="#fcd53f" />
		<link rel="alternate" type="application/rss+xml" href="/blog/rss.xml" />
		<slot name="head" />
	</head>
	<body
		class="grid min-h-[100vh] max-w-[100vw] grid-rows-[auto_1fr] justify-items-center bg-background p-8 supports-[height:_1dvh]:min-h-[100dvh] sm:p-8"
	>
		<slot name="body-root" />
		<a class="absolute -left-52 top-0 m-3 focus:left-0 print:hidden" href="#main">
			Skip to content
		</a>
		<header class="w-full max-w-[min(100%,80ch)]">
			<NavBar minimal={Astro.url.pathname === '/'} />
			<CompactNavBar minimal={Astro.url.pathname === '/'} />
		</header>
		<main id="main" class="mt-8 w-full max-w-[min(100%,80ch)] overflow-hidden sm:mt-8">
			<slot />
		</main>
		<footer class="mt-8 flex flex-row gap-4 text-neutral-500">
			<a href="https://amrita.town" class="text-neutral-500 underline">amrita.town</a>
			<p class="mx-2 select-none">•</p>
			<a href="https://amrita.town/prev" class="text-neutral-500">
				<span>←</span>
				<span class="hidden sm:inline">prev</span>
			</a>
			<a href="https://amrita.town/random" class="text-neutral-500">
				<span>⚄</span>
				<span class="hidden sm:inline">random</span>
			</a>
			<a href="https://amrita.town/next" class="text-neutral-500">
				<span class="hidden sm:inline">next</span>
				<span>→</span>
			</a>
		</footer>
	</body>
</html>
