---
import BaseLayout from './BaseLayout.astro';

interface Props {
	title?: string;
	description?: string;
	noindex?: boolean;
}

const { title, noindex, description } =
	((Astro.props as any)['frontmatter'] as Props) || Astro.props;
---

<BaseLayout title={title} description={description}>
	{noindex && <meta slot="head" name="robots" content="noindex" />}
	<div class="content text-pretty">
		<slot />
	</div>
</BaseLayout>
