---
import BaseLayout from './BaseLayout.astro';

interface Props {
	title?: string;
	noindex?: boolean;
}

const { title, noindex } = ((Astro.props as any)['frontmatter'] as Props) || Astro.props;
---

<BaseLayout centerContent={false} title={title}>
	{noindex && <meta slot="head" name="robots" content="noindex" />}
	<div class="content grid">
		<slot />
	</div>
</BaseLayout>
